:root {
  --brand-color: #2196f3;
  --background-color: #2f303a;
  --logo-footer-color: #ffffff;
  --black-color: #000;
  --grey-color: #757575;
  --border-header-color: #ececec;
  --team-bg-color: #f5f4fa;
}
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--black-color);
}
ul {
  list-style-type: none;
  padding: 0px;
}
h1 {
  width: 696px;
  height: 120px;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--logo-footer-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  margin: 200px 467px 15px 437px;
}
.section {
  padding: 94px 0px 94px 0px;

  /*Znów nieścisłość w poleceniu. Jak paddingi między sekcjami mają być po 94px,
  to jak doda się górny i dolny padding to czasem wychodzi 188px. Musze kombinować. */
}
.container {
  width: 1200px;
  margin: 0px 215px 0px 215px;
}
.container .logo {
  display: flex;
  align-items: center;
  align-content: center;
  border-bottom: 1px solid var(--border-header-color);
}
.container .link-logo {
  margin: 24px 0px 24px 0px;
}
.nav-list {
  margin: 32px 0px 32px 93px;
}
.nav-list ul {
  padding: 0px;
}
.nav-list li {
  display: inline;
}
.nav-list li:nth-child(2) {
  margin: 0px 25px 0px 25px;
}
.header-contact {
  margin: 0px 0px 0px 371px;
}
.header-contact li {
  display: inline;
}
.header-contact li:first-child {
  margin: 0px 25px 0px 0px;
}
.header-contact li:last-child {
  margin: 0px 0px 0px 25px;
}
.bottom-info {
  background-color: var(--background-color);
  width: 1600px;
  height: 252px;
}
.contact address {
  color: var(--logo-footer-color);
  font-size: 14px;
  line-height: 1.714;
}

.offer-nav button:hover,
.offer-nav button:focus {
  background-color: var(--brand-color);
  color: var(--logo-footer-color);
  cursor: pointer;
}

.link {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
}
.link-logo {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.173;
  font-family: Raleway;
}

.link-logo > span {
  color: var(--brand-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.173;
  font-family: Raleway;
}
.link:hover,
.link:focus {
  color: var(--brand-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.link-start {
  color: var(--grey-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
}
.link-start:hover,
.link-start:focus {
  color: var(--brand-color);
}
.link-footer {
  color: var(--grey-color);
  text-decoration: none;
}
.link-footer:hover,
.link-footer:focus {
  color: var(--brand-color);
}
.solutions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  height: 600px;
  width: 1600px;
}
.solutions button {
  background-color: var(--brand-color);
  color: var(--logo-footer-color);
  padding: 10px 41px 10px 42px;
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 15px 715px 200px 685px;
}
.solutions button:hover {
  cursor: pointer;
}
.offer-main {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.171;
  text-align: center;
  font-style: normal;
  margin-inline: 624px;
  letter-spacing: 0.03em;
  width: 353px;
  padding-bottom: 25px;
}
.offer-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 15px 0px 15px;
}
.offer-list li:nth-child(2) {
  padding-inline: 30px;
}
.lorem-showcase {
  display: flex;
  justify-content: center;
  padding: 94px 15px 0px 15px;
}
.lorem {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.171;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.lorem-box {
  width: 270px;
  height: 101px;
}
.lorem-showcase li:nth-child(1) {
  margin-right: 15px;
}
.lorem-showcase li:nth-child(2) {
  margin-left: 15px;
  margin-right: 15px;
}
.lorem-showcase li:nth-child(3) {
  margin-left: 15px;
  margin-right: 15px;
}
.lorem-showcase li:nth-child(4) {
  margin-left: 15px;
}
.paragraph {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}
.team {
  display: flex;
  background-color: var(--team-bg-color);
  width: 1600px;
}
.header-2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}
.people {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.box {
  background-color: var(--logo-footer-color);
  display: block;
  text-align: center;
  width: 270px;
  height: 368px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.people li:nth-child(1) {
  margin-right: 15px
}
.people li:nth-child(2) {
  margin-inline: 15px;
}
.people li:nth-child(3) {
  margin-inline: 15px;
}
.people li:nth-child(4) {
  margin-left: 15px;
}
.box h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.171;
  letter-spacing: 0.03em;
  padding: 30px 99px 5px 99px;
}
.box p {
  color: var(--grey-color);
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 5px 0px 0px 0px;
}
.contact li {
  color: var(--logo-footer-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
}
.offer-portfolio h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.offer-portfolio p {
  color: var(--grey-color);
  font-size: 16px;
  line-height: 2.142;
}
.contact > a {
  color: var(--brand-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.173;
  font-family: Raleway;
}
.contact span {
  color: var(--logo-footer-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.173;
  font-family: Raleway;
}
